<div layout="row" layout-fill  layout-align="center center">
    <md-content class="md-padding" layout-fill layout="row" layout-align="center center">
        <md-card flex-gt-sm="50" flex-sm="100">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Account Details</span>
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-card-content layout="column">
                    <md-input-container>
                        <label>Username</label>
                        <md-icon>person</md-icon>
                        <input ng-model="account.name" disabled>
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="column" layout-align="">
                    <md-input-container>
                        <label>New password</label>
                        <input ng-model="account.changePassword" ng-change="validatepw()" type="password">
                    </md-input-container>
                    <md-input-container>
                        <label>Confirm new password</label>
                        <input ng-model="account.confirmPassword" ng-change="validatepw()" type="password">
                    </md-input-container>
                    <md-input-container>
                        <label>Current password</label>
                        <input ng-model="account.currentPassword" type="password">
                    </md-input-container>
                    <md-button ng-disabled="invalidpw" class="md-raised md-warn" ng-click="changePassword()">
                        <md-icon>settings</md-icon>
                        Change password
                    </md-button>
                </md-card-actions>
            </md-card>
    </md-content>
</div>
