<div layout="row" layout-fill  layout-align="center center">
  <md-content class="md-padding" layout="row" layout-align="center center">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Account Login</span>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-actions layout="column">
          <form name="loginForm" ng-submit="vm.login()">
            <div layout="row">
              <md-input-container>
                <label>Username</label>
                <input required="true" md-no-asterisk="" ng-model="username" name="username"/>
                <div role="alert">
                  <span class="error" ng-show="loginForm.username.$error.required">Username is required.</span>
                </div>
              </md-input-container>
              <md-input-container>
                <label>Password</label>
                <input required="true" md-no-asterisk="" type="password" name="password" ng-model="password"/>
                <div role="alert">
                  <span class="error" ng-show="loginForm.password.$error.required">Password is required.</span>
                </div>
              </md-input-container>
            </div>
            <md-button ng-disabled="(password.length>0 && username.length>0)?false:true" type="submit" class="md-raised md-accent md-hue-1">Submit</md-button>
          </form>
          <md-button class="md-accent md-hue-2" href="#!/register">Don't have an account?<br>Click here to sign up.</md-button>
          <span class="error" ng-if="failedToLogin">Login failed.</span>
      </md-card-actions>
    </md-card>
  </md-content>
</div>
