<div layout="row" layout-fill  layout-align="center center">
  <md-content class="md-padding" layout="row" layout-align="center center">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Account Registration</span>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-actions layout="column">
          <form role="form" ng-submit="vm.register()">
            <md-input-container>
              <label>Username</label>
              <input md-minlength="5" required="true" md-no-asterisk="" name="username" ng-model="username">
              <div ng-messages="form.username.$error">
                <div ng-message="required">Username is required.</div>
                <div ng-message="md-minlength">Username must be at least 5 characters long.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input md-minlength="8" required="true" md-no-asterisk="" type="password" name="password" ng-model="password">
              <div ng-messages="form.password.$error">
                <div ng-message="required">Password is required.</div>
                <div ng-message="md-minlength">Password must be at least 8 characters long.</div>
              </div>
            </md-input-container>
            <div class="form-group">
              <md-button ng-disabled="" type="submit" class="md-raised md-warn">Submit</md-button>
            </div>
          </form>
          <br>
          <md-button class="md-warn" href="#!/login">
            Already have an account? Click to here to login.
          </md-button>
          <p style="font-size:.8em;" ng-if="failedToRegister">Registration failed.</p>
      </md-card-actions>
    <md-card>
  <md-content>
</div>
